/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} */
.container{
    display: flex
}
ul{
    padding: 12px 0px  ;
   
}
li{
    display: block;  
    list-style: none;
    text-align: left;
    margin: 20px 20px 20px 0px;
}

a{  display: block;
    margin: 20px 20px 20px 0px;
    text-decoration: none;
    color: #000;
}
.menu{
    width: 200px;
    background-color: darkgray;
    height: 100%;
}
.home{
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: greenyellow;
    /* padding:auto auto auto 20px; */
}
.content{
    margin-left: 20px;
}
.pro{
    margin: 20px 20px 20px 10px;
}
